<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
</head>
<body ng-app="CompanyInput" ng-cloak>
  <md-toolbar class="md-whiteframe-z1">
    <md-toolbar-tools>
      <h2 style="margin-left: 20px;">  Enter Company Information</h2>
    </md-toolbar-tools>
  </md-toolbar>
  
  <md-content ng-controller='CompanyController as vm' style="margin-top: 40px;" layout='row' layout-align='center center'>
    <form flex layout="row" layout-align='center'>
      <div layout='column' flex='70'>
        <div layout='row'>
          <md-input-container  flex>
            <label>Email</label>
            <input ng-required="true" ng-model="vm.p_email">
          </md-input-container>
        </div>
        <div layout='row'>
          <md-input-container  flex='40'>
            <label>Representative First Name</label>
            <input ng-model="vm.p_fname">
          </md-input-container>
          <md-input-container  flex='40'>
            <label>Representative Last Name</label>
            <input ng-model="vm.p_lname">
          </md-input-container>
          <md-input-container  flex='40'>
            <label>Company Phone Number</label>
            <input ng-required="true"  ng-model="vm.p_phone">
          </md-input-container>
        </div>
        <div layout='row'>
          <md-input-container  flex>
            <label>Company Name</label>
            <input ng-required="true"  ng-model="vm.c_name">
          </md-input-container>
          <md-input-container  flex>
            <label>Company ID</label>
            <input ng-required="true"  ng-model="vm.c_id">
          </md-input-container>
          <md-input-container flex>
            <label>VAT</label>
            <input ng-required="true"  ng-model="vm.c_vat">
          </md-input-container>
        </div>
        <div layout='row'>
          <md-input-container flex>
            <label>Company Address</label>
            <input ng-required="true"  ng-model="vm.c_address" ng-change="vm.onchange()">
          </md-input-container>
          <md-input-container flex>
            <label>Zipcode</label>
            <input ng-required="true"  ng-model="vm.c_zipcode" ng-change="vm.onchange()">
          </md-input-container>
          <md-input-container flex>
            <label>City</label>
            <input ng-required="true"  ng-model="vm.c_city" ng-change="vm.onchange()">
          </md-input-container>
        </div>
        <div layout="row">
          <md-checkbox ng-model='vm.is_same'>Same Billing Address</md-checkbox>         
        </div>
        <div layout='row'>
          <md-input-container flex>
            <label>Billing Address</label>
            <input  ng-required="true" ng-model="vm.b_address" ng-disabled="vm.is_same">
          </md-input-container>
          <md-input-container flex>
            <label>Billing Zipcode</label>
            <input  ng-required="true" ng-model="vm.b_zipcode" ng-disabled="vm.is_same">
          </md-input-container>
          <md-input-container flex>
            <label>Billing City</label>
            <input  ng-required="true" ng-model="vm.b_city" ng-disabled="vm.is_same">
          </md-input-container>
        </div>
        <div layout='row', layout-align='end'>
          <md-button class="md-raised md-primary" type='submit' ng-click='vm.submit()'> Submit </md-button>
        </div>
      </div>
    </form>
  </md-content>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
  
  <script type="text/javascript">    
    app = angular.module('CompanyInput', ['ngMaterial']);
    app.controller('CompanyController', [ '$http', '$mdToast', function($http, $mdToast){
      vm = this;
      vm.is_same = true

      vm.onchange = function()
      {
        if(vm.is_same)
        {
          vm.b_address = vm.c_address
          vm.b_zipcode = vm.c_zipcode
          vm.b_city = vm.c_city
        }
      }

      vm.submit = function()
      {
        var params = {}
        params.first_name = vm.p_fname
        params.last_name = vm.p_lname
        params.company_phone_number = vm.p_phone
        params.company_name = vm.c_name
        params.email = vm.p_email

        params.company_id = vm.c_id
        params.billing_vat_id = vm.c_vat

        params.company_address = vm.c_address
        params.company_zipcode = vm.c_zipcode
        params.company_city = vm.c_city

        params.billing_address = vm.b_address
        params.billing_zipcode = vm.b_zipcode
        params.billing_city = vm.b_city

        $http.post('/api/v1/company', params)
        .success(function(data){

          if(data.code == 200)
          {
            toast = $mdToast.simple()
            .textContent('Success')
            .position('bottom right');
            $mdToast.show(toast)

            vm.p_fname =''
            vm.p_lname =''
            vm.p_phone =''
            vm.c_name =''
            vm.p_email =''
            vm.c_id =''
            vm.c_vat =''
            vm.c_address =''
            vm.c_zipcode =''
            vm.c_city =''
            vm.b_address =''
            vm.b_zipcode =''
            vm.b_city =''
            
          }
          else
          {
            toast = $mdToast.simple()
            .textContent(data.extra)
            .position('bottom right');
            
            $mdToast.show(toast)
          }

        })
        .error(function(){
            toast = $mdToast.simple()
            .textContent('Error')
            .position('bottom right');
            
            $mdToast.show(toast)
        })
        
      }


    }])

  </script>
  
</body>
</html>